@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 28%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 28%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 28%;

    --primary: 345 58% 30%;
    --primary-foreground: 0 0% 100%;

    --secondary: 340 52% 24%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 42%;

    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 28%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 92%;
    --input: 0 0% 92%;
    --ring: 345 58% 30%;

    --radius: 0rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 0 0% 28%;
    --sidebar-primary: 345 58% 30%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 97%;
    --sidebar-accent-foreground: 0 0% 28%;
    --sidebar-border: 0 0% 92%;
    --sidebar-ring: 345 58% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
  }
}
